:root {
  --primary: #EA0202;
  --secundary: #2428DC;
  --white: #fff;
  --black: #262626;
  --fuente-principal: 'Oswald',sans-serif;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body  {
    background-color:var(--secundary) ;
    font-size: 2rem;
    font-family: var(--fuente-principal);
  }
  .contenedor {
    margin:0 auto;
    text-align: center;
  }
  .correct {
    background-color: green;
    color: black;
  }
  .incorrect {
    background-color: var(--primary);
  }